* {
    box-sizing: border-box;
    margin: 0px;
}

.background {
    width: 1024px;
    height: 600px;
    background-image: url("../images/background.png");
    padding: 20px 0px 0px 20px;
}

.outerbox {
    width: 808px;
    height: 544px;
    background-image: url("../images/outerbox.png");
}

.wrapper {
    display: flex;
    flex-direction: row;
    padding: 32px 0px 0px 32px;
}

.wrapper__left {
    width: 208px;
    height: 472px;
    display: flex;
    flex-direction: column;
}

.wrapper__left__header {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.today {
    font-size: 9px;
    margin-top: 10px;
    color: #55B2D4;
}

.wrapper__left__body {
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
}

.left__body__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.left__body__header__gray {
    width: 148px;
    height: 133px;
    background-color: #C4C4C4;
}

.left__body__header__line {
    border-top: 1px dotted black;
    margin: 12px 0px;
}

.left__body__profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile__detail {
    color: black;
    font-size: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.profile__detail__text {
    color: #999999;
    font-size: 9px;
    font-weight: 700;
    line-height: 12px;
    margin-left: 9px;
}


.left__body__footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: start;
}

.wrapper__feel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left__body__footer__text {
    width: 100%;
    height: 15px;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: gray;
    margin-bottom: 5px;
}

select {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid gray;
    color: gray;
}

.wrapper__right {
    width: 524px;
    height: 472px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 5px;
}

.wrapper__right__header {
    width: 510px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 14px;
    align-items: flex-end;
}

.right__header__title {
    margin-left: 36px;
    font-size: 16px;
    color: #55B2D4;
}

.right__header__setting {
    font-size: 9px;
    color: #55B2D4;
}

.wrapper__right__body {
    width: 510px;
    height: 445px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.navigation {
    width: 62px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 774px;
    top: 110px;
}

.navigation__item {
    width: 60px;
    height: 30px;
    background: #298EB5;
    border: 1px solid #0F465E;
    border-left: 0px;
    border-radius: 0px 5px 5px 0px;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}


